body {
    margin: 0;
    background-color: rgba(0, 0, 0, .1);
    /*background-color: #3498db;*/
    font-family: "Tahoma", Geneva, sans-serif;
}

p {
    color: #3498db;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.white-bg {
    background-color: white;
}

.white-bg > p {
    color: #3498db;
}

.blue-bg {
    background-color: #3498db;
}

.blue-bg > p {
    color: white;
}

.section {
    padding: 0 0 50px 0;
}

h2 {
    font-weight: 100;
    font-size: 2.5em;
}

.hover-fade:hover {
    opacity: .5;
}

.blank-block {
    width: 100%;
    height: 700px;
}

.background {
    position: fixed;
    top: 0;
    width: 95%;
    height: 100%;

}
.left-side {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: gray;
    z-index: 1;
}

.right-side {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: gray;
    z-index: 1;
}

/*headerbar*/
headerbar {
    display: block;
    width: 100%;
    height: 40px;
    position: fixed;
    margin: 0 0 15px 0;
    top: 0;
    left: 0;
    background-color: rgba(232, 158, 205, .5);
    z-index: 3;
}

.headerbar-name {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    margin: 0 0 5px 5px;
}

.headerbar-name p {
    font-size: 24px;
    font-weight: bold;
    color: white;

}

.headerbar-options {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    margin: 0 5px 5px 0;
}

.headerbar-options p {
    display: inline-block;
    float: right;
    right: 0;
    margin: 0 5px 0 5px;
    font-size: 12px;
    cursor: pointer;
}

.headerbar-options p:hover {
    opacity: .5;
}

wall {
    display: block;
    padding: 40px 0 0 0;
    min-width: 800px;
    width: 95%;
    /*margin: 0 300px 0 300px;*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-header {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
}

/*intro*/
intro {
    display: block;
}

.intro-container {
    display: flex;
    position: relative;
    left: 0;
    height: 500px;
    /*width: 120%;*/
    width: 100%;
    min-width: 830px;
    overflow : hidden;
    z-index: 2;
}

.intro-image {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

.intro-box {
    flex: 1;
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

.outro-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.outro-image {
    position: absolute;
    -webkit-transition: opacity .5s linear; /* For Safari 3.1 to 6.0 */
    transition: opacity .5s linear;
}

.outro-image.moon {
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 30%;
    height: auto;
}

.outro-panel {
    width: 100%;
    /*height: 550px;*/
    height: 700px;
    /*background-color: red;*/
    position: relative;
}

.outro-intro {
    float: left;
    width: 200px;
    height: 100%;
    /*background-color: blue;*/

}

.outro-inner-panel {
    /*background-color: rgba(255, 255, 255, .7);*/
}

.outro-inner-panel > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.outro-inner-panel > div h2 {
    font-weight: 100;
    color: white;
    background-color: rgba(255, 255, 255, .7);
}

.outro-inner-panel > div p {
    background-color: rgba(255, 255, 255, .7);
}

.outro-inner-panel.left {
    position: absolute;
    top: 50px;
    right: 250px;
    bottom: 50px;
    left: 50px;
}

.outro-inner-panel.right {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 250px;
}

.outro-inner-panel.center {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
}

/*tetris component*/
tetris {
    display: block;
    position: fixed;
    top: 40px;
    min-width: 800px;
    width: 95%;
    height: 100%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0);
}

.tetris-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.tetris-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.tetris-bottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
}

/*projects component*/
projects {
    display: block;
    position: relative;
    overflow: hidden;
}

.projects-container {
    width: 100%;
    height: auto;
    display: flex;

}

.project {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 20px 0 20px;
    flex: 1;
}

.project-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: auto;
}

.project-title {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size: 20px;
    color: black;
}

/*Instagram component*/
instagram {
    display: block;
}

.ig-container {
    position: relative;
    width : 100%;
    height: 150px;
}

.ig-loading {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: #E8E8E8;
}

.ig-loading-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.ig-image-container {
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
}

.ig-image {
    position: relative;
    flex: 1;
    cursor: pointer;
    /*margin: 0px 10px 0px 10px;*/
}

.ig-image img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.ig-last-recent-img {
    opacity: .5;
}

.ig-see-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#ig-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,.7);
}

#ig-popup {
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    width: auto;
    height: 70%;
    max-width: 700px;
    max-height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    background-color: rgb(50,50,50);
    border: 10px solid black;
}

#ig-popup img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 95%;
    width: auto;
}

/*end Instagram css*/

/*loading mask*/
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
