body {
    margin: 0;
    /*background-color: #3498db;*/
    min-width: 1400px;
}

p {
    font-family: "Tahoma", Geneva, sans-serif;
    color: #3498db;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 1400px;
}
.left-side {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: gray;
}

.right-side {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: gray;
}

wall {
    min-width: 800px;
}

.wall-container {
    padding: 0 5px 0 5px;
    min-width: 800px;
    margin: 0 300px 0 300px;
}

.section-header {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

/*Instagram component*/
.ig-container {
    position: relative;
    width : 100%;
    height: 150px;
}

.ig-loading {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: #E8E8E8;
}

.ig-loading-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.ig-image-container {
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
}

.ig-image {
    position: relative;
    flex: 1;
    /*margin: 0px 10px 0px 10px;*/
}

.ig-image img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.ig-last-recent {
    opacity: .2;
}

.ig-see-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*end Instagram css*/

/*loading mask*/
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
